<div class="banner-contact">
  <div class="container text-center">
    <h2 class="contact-header">Fale com a gente</h2>
    <div class="row contact-form">
      <div class="">
        <%= simple_form_for(@contact) do |f| %>
        <%= f.input :name, :label => "Nome" %>
        <%= f.input :email, :label => "E-mail" %>
        <%= f.input :phone, :label => "Telefone" %>
        <%= f.input :message, :label => "Mensagem" %>
        <%= f.button :submit, 'Enviar',  class: 'btn btn-form' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
