<div class="banner-contact">
  <div class="container text-center">
    <h1 class="contact-header">Registramos o seu interesse.</h1>
    <br/>
    <h1 class="contact-header"> Obrigada pela participação!</h1>
    <!-- <div class="row contact-form">
      <div class="">
        <%= simple_form_for(@contact) do |f| %>
        <%= f.input :name, :label => "Nome" %>
        <%= f.input :email, :label => "E-mail" %>
        <%= f.input :phone, :label => "Telefone" %>
        <%= f.input :message, :label => "Mensagem" %>
        <%= f.button :submit, 'Enviar',  class: 'btn btn-form' %>
        <% end %>
      </div>
    </div> -->
    <div align=right class="contador"><a href='https://www.counter12.com'><img src='https://www.counter12.com/img-62dx3a0D8Zbb4ZzA-45.gif' border='0' alt='contador de visitas'></a><script type='text/javascript' src='https://www.counter12.com/ad.js?id=62dx3a0D8Zbb4ZzA'></script></div>
  </div>
</div>
